.dashboard-home {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Navigation Bar Styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: 8961b1; /* Navbar background color */
    color: white;
    box-shadow: 0 0 10px rgba(20, 19, 19, 0.3);
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-icons {
    display: flex;
    align-items: center;
  }
  
  .notification-icon,
  .profile-icon {
    font-size: 28px;
    color: white;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .notification-icon:hover,
  .profile-icon:hover {
    color: black;
  }
  
  /* Dashboard Content Styles */
  .dashboard-content {
    padding: 20px;
  }
  
  .dashboard-heading {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20%;
  }
  